<h1><i class="fa-solid fa-font-awesome"></i></h1>
<div class="section">
  <p class="lead">Put your tasks behind you!</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <div class="fab fa-google"></div> Log in with Google
  </a>
</div>
