.login-container{
  width:400px;
  margin-top: 50px;
  text-align: center;
}

p{
  margin: 10px 0;
}

.fa-google{
  margin-right: 10px;
}

.fa-bars{
  margin-left: 6em;
}

.container{
  max-width: 100%;
  width: inherit;
}

body > .container{
  padding: 1em;
}
